.App {
  margin: 10px;
}
.searchDiv {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.appForm {
  display: flex;
  flex-direction: column;
}
.imageList {
  margin-top: 15px;
  columns: 250px 4;
  column-gap: 10px;
}
.imageListimg {
  width: 100%;
  margin-bottom: 10px;
}
